<footer>
  <div  id="ft-Container">
    <center>
      <%= link_to image_tag("footer-coe-logo.png", alt:"Buckeye logo"), 'http://www.osu.edu' %>
      <p>&copy; 2016 ProjTeam6 of CSE3901 - Rui Ge, Wei Tang, Ruiyang Liu, Yan Zhang, Fraley Keenan</p>
    </center>
  </div>
</footer>
