<% provide(:title, "About") %>
<h1>About</h1>
<div class="center jumbotron">
    “BuckeyeWhoKnows” is an information-sharing website mainly for on-campus students to post & receive valuable information. The website requires registration from first-time users and will store all the profiles of registered users in a cloud-based database. The website will need unique user ID created by users to uniquely identify a specific user. It also adopts a credit system to restrict user activities and avoid information spamming. The website allows students to share information like traffic status near campus, used text-book trading, latest PokemonGo updates. To avoid data redundancy in the database, we will clean all posts that haven’t been visited for a month. Besides, the website supports recommendation mechanism where users will get posts recommendations from the system based on their recent activities on the website.  At last, we will implement the following mechanisms in order to maintain the website: first, we will accept donations from our users for providing them our services; second, we can sell advertising space on our website to third-party companies; third, users can pay a monthly fee to subscribe to our website so they can keep themselves informed of all the updates of their interests.
</div>

